/********************Fuente*********************/
/*@import url('https://fonts.googleapis.com/css2?family=Advent+Pro:ital,wght@0,100..900;1,100..900&display=swap');*/
/*@import url('https://fonts.googleapis.com/css2?family=Advent+Pro:ital,wght@0,100..900;1,100..900&family=Gruppo&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Mynerve&family=Sour+Gummy:ital,wght@0,100..900;1,100..900&display=swap');*/
@import url('https://fonts.googleapis.com/css2?family=Advent+Pro:ital,wght@0,100..900;1,100..900&family=Alumni+Sans+Pinstripe:ital@0;1&family=Gruppo&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Mynerve&family=Sour+Gummy:ital,wght@0,100..900;1,100..900&display=swap');


/*************Header****************/

.nvg {
    background-color: rgba(0, 0, 0, 0.44);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1050;
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);

    border: 1px solid rgba(255, 255, 255, 0.15);
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.3);
}

.navegador {
    height: 60px;
    align-items: center;

}

/**************************Barra superior*********************************/

.logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/****************************Hamburger button*****************************/
.navbar-toggler {
    width: 30px;
    height: 30px;
    position: relative;
    transition: .5s ease-in-out;
    cursor: pointer;
    font-size: small;
    z-index: 2000;
}

.navbar-toggler,
.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
    font-size: small;
}

.navbar-toggler span {
    margin: 0 0 28px 8px;
    padding: 0;
}

.toggler-icon {
    display: block;
    position: absolute;
    height: 3px;
    width: 100%;
    /*background: rgb(45, 45, 45);*/
    background-color: rgb(210, 210, 210);
    border-radius: 2px;
    opacity: 10;
    left: 20px;
    transform: rotate(0deg);
    transition: .25s ease-in-out;
}

.middle-bar {
    margin-top: 0;
}

.navbar-toggler .top-bar {
    margin-top: 0;
    transform: rotate(135deg);
}

.navbar-toggler .middle-bar {
    opacity: 0;
    filter: alpha(opacity=0);
}

.navbar-toggler .bottom-bar {
    margin-top: 0;
    transform: rotate(-135deg);
}

.navbar-toggler.collapsed .top-bar {
    margin-top: -8px;
    transform: rotate(0deg);
}

.navbar-toggler.collapsed .middle-bar {
    opacity: 1;
    filter: alpha(opacity=100);
}

.navbar-toggler.collapsed .bottom-bar {
    margin-top: 8px;
    transform: rotate(0deg);
}


/******************** Menú lateral *********************/
.fon_nav_index {
    position: fixed;
    top: 0;
    left: 0;
    width: 250px;
    height: 100vh;
    background-color: rgba(38, 38, 38, 0.9);
    padding-top: 6rem;
    z-index: 1500;
    /*
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);*/
}

.item_lista {
    display: flex;
    text-align: start;
    align-items: center;
}

.menu_index {
    list-style: none;
    margin: 0;
    padding: 0;
}

.menu_index li {
    position: relative;
}

.menu_index a {
    display: flex;
    align-items: center;
    padding: 12px 20px;
    color: #dfe2ec;
    text-decoration: none;
    font-family: "Advent Pro", sans-serif;
    font-size: 3vh;
    /*2rem*/
    width: 100%;
}

.menu_index a:hover {
    background: rgb(84, 83, 83);
    color: white;

}

.menu_index img {
    margin-right: 10px;
    width: 24px;
    height: 24px;
}

/******************** Submenús *********************/
.submenu {
    display: none;
    list-style: none;
    position: absolute;
    top: 0;
    left: 100%;
    /*background: #2b2b2b6f;*/
    background: rgba(43, 43, 43, 0.9);
    min-width: 250px;
    padding: 0;
    margin: 0;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
    z-index: 1600;
    /*
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);*/
}

.dropdown-submenu:hover>.submenu {
    display: block;
}

.submenu li {
    width: 100%;
}

.submenu li a {
    padding: 10px 15px;
    font-size: 2.5vh;
    /*1.5rem*/
    font-family: "Advent Pro", sans-serif;
    margin-left: 0;
    width: 100%;
    box-sizing: border-box;
}

.fon_nav_index,
.submenu {
    border: 1px solid rgba(255, 255, 255, 0.15);
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.3);
}

/**************Buscador*************/

.container1 {
    position: relative;
    --size-button: 40px;
    color: white;
    justify-content: flex-end;
    top: -20px;
    z-index: 80000;
}

.input {
    position: absolute;
    right: 40px;
    padding-right: var(--size-button);
    height: var(--size-button);
    font-size: 15px;
    border: none;
    color: #ffffff;
    outline: none;
    width: var(--size-button);
    transition: all ease 0.8s;
    background-color: #4b4b4d;
    box-shadow: 1.5px 1.5px 3px #0e0e0e, -1.5px -1.5px 3px rgb(95 94 94 / 25%), inset 0px 0px 0px #0e0e0e, inset 0px -0px 0px #5f5e5e;
    border-radius: 50px;
    cursor: pointer;
    text-align: left;
}

.input:focus,
.input:not(:invalid) {
    width: 400px;
    cursor: text;
    padding-left: 20px;
    box-shadow: 0px 0px 0px #0e0e0e, 0px 0px 0px rgb(95 94 94 / 25%), inset 1.5px 1.5px 3px #0e0e0e, inset -1.5px -1.5px 3px #5f5e5e;
}

.input:focus+.icon,
.input:not(:invalid)+.icon {
    pointer-events: all;
    cursor: pointer;
}

.container1 .icon {
    position: absolute;
    width: var(--size-button);
    height: var(--size-button);
    right: 40px;
    padding: 8px;
    pointer-events: none;
}

.container1 .icon svg {
    width: 100%;
    height: 100%;
}

/**************Redes***************/

ul {
    list-style: none;
}

.example-2 {
    display: flex;
    justify-content: end;
    align-items: start;
    flex-direction: column;
}

.example-2 .icon-content {
    margin: 0 -20px;
    position: relative;
    padding: 0.5rem;
    top: 30px;
}

.example-2 .icon-content .tooltip {
    position: absolute;
    top: 100%;
    left: 110%;
    transform: translateY(300%);
    color: #fff;
    padding: 4px 8px;
    border-radius: 5px;
    opacity: 0;
    visibility: hidden;
    font-size: 9px;
    transition: all 0.3s ease;
}

.example-2 .icon-content:hover .tooltip {
    opacity: 1;
    visibility: visible;
    top: -50px;
}

.example-2 .icon-content a {
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    color: #4d4d4d;
    background-color: #fff;
    transition: all 0.3s ease-in-out;
}

.example-2 .icon-content a:hover {
    box-shadow: 3px 2px 45px 0px rgb(0 0 0 / 12%);
}

.example-2 .icon-content a svg {
    position: relative;
    z-index: 1;
    width: 15px;
    height: 15px;
}

.example-2 .icon-content a:hover {
    color: white;
}

.example-2 .icon-content a .filled {
    position: absolute;
    top: auto;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0;
    background-color: #000;
    transition: all 0.3s ease-in-out;
}

.example-2 .icon-content a:hover .filled {
    height: 100%;
}

.example-2 .icon-content a[data-social="linkedin"] .filled,
.example-2 .icon-content a[data-social="linkedin"]~.tooltip {
    background-color: #0274b3;
}

.example-2 .icon-content a[data-social="facebook"] .filled,
.example-2 .icon-content a[data-social="facebook"]~.tooltip {
    background-color: #0274b3;
}


.example-2 .icon-content a[data-social="instagram"] .filled,
.example-2 .icon-content a[data-social="instagram"]~.tooltip {
    background: linear-gradient(45deg,
            #405de6,
            #5b51db,
            #b33ab4,
            #c135b4,
            #e1306c,
            #fd1f1f);
}

.example-2 .icon-content a[data-social="youtube"] .filled,
.example-2 .icon-content a[data-social="youtube"]~.tooltip {
    background-color: #ff0000;
}

/************Fondo****************/

.titulo {
    top: 90px;
    position: relative;
    font-family: "Advent Pro", sans-serif;
    font-size: 3.6rem;
    color: #544d4d;
}

.container {
    position: relative;
    min-height: 100vh;
}


.bg-img {
    width: 100%;
    height: 100vh;
    object-fit: cover;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
   
}

/***********Grid***********/

.cards-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(380px, 1fr));
    gap: 2rem;
    padding: 2rem;
    margin-top: 10vh;
    position: relative;
    z-index: 1;
}

/* Tarjeta */
.card {
    width: 350px;
    min-height: 400px;
    padding: 15px;
    margin: 20px;
    border-radius: 20px;
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.15);
    overflow: hidden;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: rgba(255, 255, 255, 0.15) !important;
    backdrop-filter: blur(8px) !important;
    -webkit-backdrop-filter: blur(8px) !important;
    border: 1px solid rgba(255, 255, 255, 0.3) !important;
    box-shadow:
        0 8px 32px rgba(0, 0, 0, 0.1),
        inset 0 1px 0 rgba(255, 255, 255, 0.2);

    position: absolute;
}

.card:hover {
    /*box-shadow: 0 12px 25px rgba(0, 0, 0, 0.25);*/
    box-shadow: 10px 10px 20px #5f6168,
        -10px -10px 20px #ffffff;
}

/* Imagen */

.card:hover .img-wrapper {
    transform: scale(1.2);
}

.img_card{
    width: 100%;
    height: 70%;
    object-fit: fill;
    
    scale: 0.9;
}

.img-wrapper {
    position: relative;
    width: 100%;
    height: 280px;
    overflow: hidden;
    

    transition: transform 0.3s ease, scale 0.3s ease;
}

.img-wrapper img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: opacity 0.4s ease, transform 0.4s ease;

    inset: 0; 
    pointer-events: none;
}

/* imagen base siempre visible */
.img-wrapper .base {
    opacity: 1;
    z-index: 1;
}

/* variantes ocultas */
.img-wrapper .alt {
    opacity: 0;
    z-index: 2;
}


.card[data-color="negro"] .img-wrapper .negro,
.card[data-color="bv"]    .img-wrapper .bv {
  opacity: 1;
  /*transform: scale(1.03);*/
}

.card[data-color]:not([data-color="cromo"]) .img-wrapper .base {
  opacity: 0;
}

/* swatches */
.color-options { display:flex; gap:10px; justify-content:center; margin-bottom:10px; }
.color-swatch { width:55px; height:55px; cursor:pointer; object-fit:cover;}
/*.color-swatch:active { transform: scale(.95); }*/


/* Contenido */
.card-content {
    padding: 1rem;
    text-align: center;

}

.card-title {
    font-family: "Montserrat", sans-serif;
    font-size: 1.2rem;
    font-weight: 600;
    margin-bottom: 1rem;
    color: #333;
}

/* Botón */
.card-btn {
    background: linear-gradient(135deg, #0077ff, #00c2ff);
    border: none;
    color: #fff;
    font-weight: 600;
    padding: 0.6rem 1.2rem;
    border-radius: 50px;
    cursor: pointer;
    transition: background 0.3s ease;
    text-decoration: none;
}

.card-btn:hover {
    background: linear-gradient(135deg, #005fcc, #00a3cc);
}

@media (max-width: 768px) {
    .cards-grid {
        grid-template-columns: 1fr;
        padding: 1rem;
        margin-top: 10vh;
    }

    .img_card {
        height: 300px;
    }

    .card-title {
        font-size: 1.3rem;
    }
}

@media (max-width: 480px) {
    .cards-grid {
        grid-template-columns: 1fr;
        gap: 1.5rem;
    }

    .img_card {
        height: 250px;
    }
}