/********************Fuente*********************/
/*@import url('https://fonts.googleapis.com/css2?family=Advent+Pro:ital,wght@0,100..900;1,100..900&display=swap');*/
/*@import url('https://fonts.googleapis.com/css2?family=Advent+Pro:ital,wght@0,100..900;1,100..900&family=Gruppo&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Mynerve&family=Sour+Gummy:ital,wght@0,100..900;1,100..900&display=swap');*/
/*@import url('https://fonts.googleapis.com/css2?family=Advent+Pro:ital,wght@0,100..900;1,100..900&family=Alumni+Sans+Pinstripe:ital@0;1&family=Gruppo&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Mynerve&family=Sour+Gummy:ital,wght@0,100..900;1,100..900&display=swap');*/
@import url('https://fonts.googleapis.com/css2?family=Advent+Pro:ital,wght@0,100..900;1,100..900&family=Alumni+Sans+Pinstripe:ital@0;1&family=Gruppo&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Mynerve&family=Poiret+One&family=Sour+Gummy:ital,wght@0,100..900;1,100..900&display=swap');



/*************Header****************/

.nvg {
    background-color: rgba(0, 0, 0, 0.44);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1050;
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);

    border: 1px solid rgba(255, 255, 255, 0.15);
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.3);
}

.navegador {
    height: 60px;
    align-items: center;

}

/**************************Barra superior*********************************/

.logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/****************************Hamburger button*****************************/
.navbar-toggler {
    width: 30px;
    height: 30px;
    position: relative;
    transition: .5s ease-in-out;
    cursor: pointer;
    font-size: small;
    z-index: 2000;
}

.navbar-toggler,
.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
    font-size: small;
}

.navbar-toggler span {
    margin: 0 0 28px 8px;
    padding: 0;
}

.toggler-icon {
    display: block;
    position: absolute;
    height: 3px;
    width: 100%;
    /*background: rgb(45, 45, 45);*/
    background-color: rgb(210, 210, 210);
    border-radius: 2px;
    opacity: 10;
    left: 20px;
    transform: rotate(0deg);
    transition: .25s ease-in-out;
}

.middle-bar {
    margin-top: 0;
}

.navbar-toggler .top-bar {
    margin-top: 0;
    transform: rotate(135deg);
}

.navbar-toggler .middle-bar {
    opacity: 0;
    filter: alpha(opacity=0);
}

.navbar-toggler .bottom-bar {
    margin-top: 0;
    transform: rotate(-135deg);
}

.navbar-toggler.collapsed .top-bar {
    margin-top: -8px;
    transform: rotate(0deg);
}

.navbar-toggler.collapsed .middle-bar {
    opacity: 1;
    filter: alpha(opacity=100);
}

.navbar-toggler.collapsed .bottom-bar {
    margin-top: 8px;
    transform: rotate(0deg);
}


/******************** Menú lateral *********************/
.fon_nav_index {
    position: fixed;
    top: 0;
    left: 0;
    width: 250px;
    height: 100vh;
    background-color: rgba(38, 38, 38, 0.9);
    padding-top: 6rem;
    z-index: 1500;
    /*
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);*/
}

.item_lista {
    display: flex;
    text-align: start;
    align-items: center;
}

.menu_index {
    list-style: none;
    margin: 0;
    padding: 0;
}

.menu_index li {
    position: relative;
}

.menu_index a {
    display: flex;
    align-items: center;
    padding: 12px 20px;
    color: #dfe2ec;
    text-decoration: none;
    font-family: "Advent Pro", sans-serif;
    font-size: 3vh;
    /*2rem*/
    width: 100%;
}

.menu_index a:hover {
    background: rgb(84, 83, 83);
    color: white;

}

.menu_index img {
    margin-right: 10px;
    width: 24px;
    height: 24px;
}

/******************** Submenús *********************/
.submenu {
    display: none;
    list-style: none;
    position: absolute;
    top: 0;
    left: 100%;
    /*background: #2b2b2b6f;*/
    background: rgba(43, 43, 43, 0.9);
    min-width: 250px;
    padding: 0;
    margin: 0;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
    z-index: 1600;
    /*
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);*/
}

.dropdown-submenu:hover>.submenu {
    display: block;
}

.submenu li {
    width: 100%;
}

.submenu li a {
    padding: 10px 15px;
    font-size: 2.5vh;
    /*1.5rem*/
    font-family: "Advent Pro", sans-serif;
    margin-left: 0;
    width: 100%;
    box-sizing: border-box;
}

.fon_nav_index,
.submenu {
    border: 1px solid rgba(255, 255, 255, 0.15);
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.3);
}

/**************Buscador*************/

.container1 {
    position: relative;
    --size-button: 40px;
    color: white;
    justify-content: flex-end;
    top: -20px;
    z-index: 80000;
}

.input {
    position: absolute;
    right: 40px;
    padding-right: var(--size-button);
    height: var(--size-button);
    font-size: 15px;
    border: none;
    color: #ffffff;
    outline: none;
    width: var(--size-button);
    transition: all ease 0.8s;
    background-color: #4b4b4d;
    box-shadow: 1.5px 1.5px 3px #0e0e0e, -1.5px -1.5px 3px rgb(95 94 94 / 25%), inset 0px 0px 0px #0e0e0e, inset 0px -0px 0px #5f5e5e;
    border-radius: 50px;
    cursor: pointer;
    text-align: left;
}

.input:focus,
.input:not(:invalid) {
    width: 400px;
    cursor: text;
    padding-left: 20px;
    box-shadow: 0px 0px 0px #0e0e0e, 0px 0px 0px rgb(95 94 94 / 25%), inset 1.5px 1.5px 3px #0e0e0e, inset -1.5px -1.5px 3px #5f5e5e;
}

.input:focus+.icon,
.input:not(:invalid)+.icon {
    pointer-events: all;
    cursor: pointer;
}

.container1 .icon {
    position: absolute;
    width: var(--size-button);
    height: var(--size-button);
    right: 40px;
    padding: 8px;
    pointer-events: none;
}

.container1 .icon svg {
    width: 100%;
    height: 100%;
}

/**************Redes***************/

ul {
    list-style: none;
}

.redes {
    display: flex;
    justify-content: end;
    align-items: start;
    flex-direction: column;
}

.redes .icon-content {
    margin: 0 -20px;
    position: relative;
    padding: 0.5rem;
    top: 30px;
}

.redes .icon-content .tooltip {
    position: absolute;
    top: 100%;
    left: 110%;
    transform: translateY(300%);
    color: #fff;
    padding: 4px 8px;
    border-radius: 5px;
    opacity: 0;
    visibility: hidden;
    font-size: 9px;
    transition: all 0.3s ease;
}

.redes .icon-content:hover .tooltip {
    opacity: 1;
    visibility: visible;
    top: -50px;
}

.redes .icon-content a {
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    color: #4d4d4d;
    background-color: #fff;
    transition: all 0.3s ease-in-out;
}

.redes .icon-content a:hover {
    box-shadow: 3px 2px 45px 0px rgb(0 0 0 / 12%);
}

.redes .icon-content a svg {
    position: relative;
    z-index: 1;
    width: 15px;
    height: 15px;
}

.redes .icon-content a:hover {
    color: white;
}

.redes .icon-content a .filled {
    position: absolute;
    top: auto;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0;
    background-color: #000;
    transition: all 0.3s ease-in-out;
}

.redes .icon-content a:hover .filled {
    height: 100%;
}

.redes .icon-content a[data-social="linkedin"] .filled,
.redes .icon-content a[data-social="linkedin"]~.tooltip {
    background-color: #0274b3;
}

.redes .icon-content a[data-social="facebook"] .filled,
.redes .icon-content a[data-social="facebook"]~.tooltip {
    background-color: #0274b3;
}


.redes .icon-content a[data-social="instagram"] .filled,
.redes .icon-content a[data-social="instagram"]~.tooltip {
    background: linear-gradient(45deg,
            #405de6,
            #5b51db,
            #b33ab4,
            #c135b4,
            #e1306c,
            #fd1f1f);
}

.redes .icon-content a[data-social="youtube"] .filled,
.redes .icon-content a[data-social="youtube"]~.tooltip {
    background-color: #ff0000;
}

/***************Formulario******************/

.titulo {
    top: -30px;
    position: relative;
    font-family: "Advent Pro", sans-serif;
    font-size: 3rem;
    color: #e5e5e5;
    text-align: center;
    display: block;
    letter-spacing: .5px;
    
   

}

.seccion {
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    /* background: linear-gradient(135deg, #0f0f0f, #2b2b2b, #555, #b47c7c);*/
    display: flex;

    align-items: center;
    justify-content: center;
    position: relative;

    overflow: none;
    object-fit: cover;
}

.seccion::before{
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.753);
    backdrop-filter: blur(18px);
    z-index: -900;
}

.seccion-hero {
    position: sticky;
    flex-direction: column;
    gap: 40px;
    height: 90vh;
    top: 50px;
}

.seccion-form {
    display: flex;
    justify-content: center;
    align-items: center;
}

.bg-img {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    object-fit: cover;

    z-index: -1000;
    /*pointer-events: none;*/

}
/*
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.316);
    backdrop-filter: blur(2px);
    z-index: -900;
}
*/
/* ====== TARJETAS ====== */
.formPV {
    position: relative;
    /*top: 30px;*/
    top: 70px;
    width: 700px;
    height: 40vw;
    perspective: 1200px;
    
}

.cardFront,
.cardBack {
    position: absolute;
    overflow: hidden;
    width: 100%;
    height: 100%;
    background: rgba(35, 35, 35, 0.262);
    border: 1px solid rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(5px);
    box-shadow: 0 25px 50px rgba(0, 0, 0, 0.148);
    border-radius: 20px;
    padding: 40px;
    box-sizing: border-box;
    transform-style: preserve-3d;
    transition: all 0.8s ease;
   
}

.cardFront {
    z-index: 3;
}

.cardBack {
    z-index: 2;
}

.cardFront h2,
.cardBack h2 {
    font-weight: 600;
    margin-top: -1rem;
    margin-bottom: 1.7rem;
    color: #fff;
    letter-spacing: 1px;
    text-align: center;
}

.formPV .inputBox {
    position: relative;
    margin-bottom: 28px;
}

.formPV .inputBox input,
.formPV .inputBox textarea {
    width: 100%;
    background: transparent;
    border: none;
    border-bottom: 1px solid #aaa;
    outline: none;
    font-size: 16px;
    color: #fff;
    padding: 10px 0 6px;
    transition: border-color 0.3s ease;
}

.formPV .inputBox textarea {
    min-height: 80px;
    resize: none;
}

.formPV .inputBox label {
    position: absolute;
    top: 0;
    left: 0;
    color: #bbb;
    pointer-events: none;
    transition: all 0.3s ease;
    font-size: 16px;
}

.formPV .inputBox input:focus+label,
.formPV .inputBox input:not(:placeholder-shown)+label,
.formPV .inputBox textarea:focus+label,
.formPV .inputBox textarea:not(:placeholder-shown)+label {
    transform: translateY(-20px);
    font-size: 12px;
    color: #bdb8b8;
}

.formPV .inputBox input:focus,
.formPV .inputBox textarea:focus {
    border-bottom-color: #fff;
}

.formPV .inputBox input[type="date"] {
    appearance: none;
    -webkit-appearance: none;
    background: transparent;
    color-scheme: dark;
    position: relative;
}


.formPV .inputBox input[type="date"]::-webkit-datetime-edit-fields-wrapper {
    color: #bbb;
}

.formPV .inputBox input[type="date"]::-webkit-calendar-picker-indicator:hover {
    opacity: 1;
    transform: scale(1.15);
    cursor: pointer;
}

/* ====== BOTÓN ====== */
.cta {
    border: none;
    background: none;
    cursor: pointer;
    color: white;
    display: flex;
    align-items: center;
    margin-left: 250px;
    margin-top: 4vh;
}

.cta span {
    letter-spacing: 3px;
    font-size: 14px;
    padding-right: 10px;
    text-transform: uppercase;
}

.cta svg {
    transform: translateX(-6px);
    transition: all 0.3s ease;
}

.cta:hover svg {
    transform: translateX(0);
}

.cta svg path {
    fill: #f5f5f5;
}

.hover-underline-animation {
    position: relative;
    padding-bottom: 4px;
}

.hover-underline-animation:after {
    content: "";
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #ffffff;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

.cta:hover .hover-underline-animation:after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

/* ======== Garantia =========*/

.card {
    position: relative;
    width: 320px;
    height: 300px;
    background: #dbdbdb9e;
    border-radius: 30px !important;
    overflow: hidden;
    text-align: center;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 18px;
    padding-bottom: 20px;

    transition: transform 0.4s ease;

}

.card::before {
    content: "";
    position: absolute;
    top: 0;
    width: 320px;
    height: 120px;
    border-radius: 20px 20px 0 0;


    background: linear-gradient(135deg,
            #b47c7c,
            #555,
            #2b2b2b);

    transition: all 0.5s ease;
}

.card:hover::before {
    height: 300px;
    transform: scale(0.97);
    border-radius: 30px;
}

.card-image {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-top: 40px;
    background: #ffffff;
    border: 2px solid #686868;

    z-index: 10;
    transition: transform 0.5s ease;
}

.card:hover .card-image {
    transform: scale(1.6) translate(-60px, -60px);
}

.card-info {
    z-index: 10;
    transition: transform 0.5s ease;
    mix-blend-mode: difference;
    color: #ffffff;

}

.card:hover .card-info {
    transform: translateY(-40px);
}

.name {
    display: block;
    font-size: 40px;
    font-weight: 300;
    font-family: "Advent Pro", sans-serif;
    /*color: #111;*/

}

.role {
    margin: 0;
    /*color: #444;*/
}

.card-btn {
    background: linear-gradient(135deg, #0077ff, #00c2ff);
    border: none;
    color: #fff;
    font-weight: 600;
    padding: 0.6rem 1.2rem;
    border-radius: 50px;
    cursor: pointer;
    transition: background 0.3s ease;
    text-decoration: none;
}

.card-btn:hover {
    background: linear-gradient(135deg, #005fcc, #00a3cc);
}

/* =========== Subir archivo ============*/
/* Contenedor general */
.archivos-row {
    margin-top: 20px;
    display: flex;
    gap: 20px;
    justify-content: space-between;
    margin-bottom: 50px;
}

.file-upload-wrapper {
    position: relative;
    width: 100%;
    z-index: 10;
}

.file-upload-label input {
    margin-top: 15px;
    width: 100%;
    padding: 10px;

    color: white;
    font-size: 14px;
    border-radius: 12px;
    border: 2px solid rgba(255, 255, 255, 0.25);
}

.file-upload-label input::file-selector-button {
    display: none;
}

.file-upload-label svg {
    height: 40px;
    fill: rgb(82, 82, 82);
    margin-bottom: 10px;
    transition: all 0.3s;
}

.file-upload-label:hover svg {
    transform: scale(1.3);
    fill: rgb(149, 149, 149);
}

.file-upload-design p {
    margin: 0;
    font-size: 13px;
    width: 150px;
    color: #444;
    text-align: center;
}

.file-upload-label {
    cursor: pointer;
    background-color: #d4d4d4;
    /*padding: 30px 50px;*/
    padding: clamp(12px, 50%, 20px) clamp(20px, 50%, 30px);
    border-radius: 40px;
    border: 2px dashed rgb(82, 82, 82);
    box-shadow: 0px 0px 200px -50px rgba(255, 255, 255, 0.719);
}

.file-upload-design {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

.browse-button {
    background-color: rgb(82, 82, 82);
    width: 130px;
    text-align: center;
    padding: 5px 15px;
    font-size: 12px;
    border-radius: 10px;
    color: white;
    transition: all 0.3s;
}

.browse-button:hover {
    background-color: rgb(14, 14, 14);
}

/* Botón eliminar en la esquina */
.remove-button {
    position: absolute;
    top: -8px;
    right: -8px;
    width: 22px;
    height: 22px;
    border-radius: 50%;
    background-color: white;
    border: 2px solid white;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.remove-button .icon {
    width: 12px;
    height: 12px;
}

.nota1 {
    color: #cecece;
    text-align: justify;
    /*font-size: 15px;*/
    font-size: clamp(.6rem, .8vw, 1rem);
    font-style: italic;
    position: relative;
    margin-top: 20px;
    margin-right: 30px;
    margin-left: 40px;
}

.nota2 {
    color: #cecece;
    text-align: justify;
    /*font-size: 15px;*/
    font-size: clamp(.6rem, .8vw, 1rem);
    font-style: italic;
    position: relative;
    margin-top: 20px;
    margin-right: 90px;

}

.pv {
    display: block;
    margin: .1vw auto 0;
    max-width: 90%;

    border-radius: 15px;

    filter: drop-shadow(0 0 25px rgba(255, 190, 190, 0.35)) drop-shadow(0 0 50px rgba(255, 200, 200, 0.20));

}

/* ==== Respomsivo ==== */
@media (max-width: 1350px) {
    .seccion {
        /*position: fixed;*/
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        height: auto;
        min-height: auto;
        padding-top: 120px;
        gap: 40px;
        object-fit: cover;
        width: 100%;
        /*height: 100vh;*/
    }

    .seccion-hero {
        gap: 20px;
    }

    .col-4{
        width: 100% !important;
        max-width: 300px;
        margin: 0 auto;
    }
    .col-6 {
        width: 100% !important;
        max-width: 600px;
        margin: 0 auto;

    }

    .card {
        margin: 0 auto;
        order: 2;
    }

    .titulo {
        text-align: center;
        top: 0;

    }

    /* FORMULARIO */
    .formPV {
        width: 100%;
        max-width: 650px;
        height: 750px !important;
        padding: 0 20px;
        order: 1;
        top: 50px;
    }

    .cardFront,
    .cardBack {
        position: absolute !important;
        height: 100%;
        padding-bottom: 0;


    }

    .pv {
        max-width: 60%;
        margin: 20px auto;
    }

    .nota1 {
        margin: 10px 20px;
    }

    /* ARCHIVOS */
    .archivos-row {
        flex-direction: column;
        align-items: center;
        margin-bottom: 40px;
    }

    .file-upload-wrapper {
        width: 100% !important;
        max-width: 500px;
    }

    .nota2 {
        width: 100%;
        margin: 0;
        margin-top: 15px;
        text-align: center;
    }

    .cta {
        margin: 10px auto 0 auto;
    }

}